<p>
  Visit
  <a href="https://github.com/IzikAJ/vat_ever" target="_blank" rel="nofollow">GitHub</a>
  or
  <a href="https://hub.docker.com/r/izikaj/vat_ever" target="_blank" rel="nofollow">Docker Hub</a>
  for details
</p>
<p>
  <i><%= VatEver::VERSION %></i>
  <span>
    &copy;
    <%= Time.now.year %> by IzikAJ
  </span>
</p>
